header{
    background-color: #CCCCCC;
    padding: 20px 0;
}
.caixa{
    position:relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 20px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color:rgb(255, 68, 0);
}