p, h2, h3{
	text-align: center;
	font-family: Verdana;
	font-size: 20px;
}
h1{
	margin-left: 20px;
	font-size: 30px;
}
body {	
	background-color: #ffffff;
	
}
#banner{
	width: 100%;
}
#principal{
	padding: 30px;
	background-color: #cccccc;
}

p{
	text-align: center;
}
em strong {
	color: rgb(60, 19, 209);
}
.lista{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 20px;
	margin-right: 20%;
	
}
#imgBeneficios{
	width: 50%;
}
@keyframes btnRgb{
	0%{
		background-color: red;
	}
	50%{
		background-color: green;
	}
	100%{
		background-color: blue;
	}
}
#btnRgb{
	cursor:pointer;
	border-radius: 5px; 

	animation: btnRgb 1s infinite;
}
#botao{
	background-color: white;
	color: rgb(0, 162, 255);
	cursor:pointer;
	border: 1px solid rgb(0, 162, 255);
	border-radius: 5px; 

	transition: opacity 0.15;
	transition: background-color 0.15s;
	transition: color 0.15s;
}
#botao:hover{
	background-color: rgb(0, 162, 255);
	color: white;
}
#botao:active{
	opacity: 0.7;
}